.all {
    background-image:linear-gradient(white,rgb(202, 199, 199), rgb(218, 216, 216));
    animation: gradient 5s infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

