.box::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparet, transparet, cyan);
    animation: animate cyan;
    animation-delay: -2s;
}

.box::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparet, transparet, cyan);
    animation: animate 4s linear infinite;
}
