.dropdown:hover .dropdown-menu {
    display: block;
    transition-duration: 500ms;
  }
  .sidebar::-webkit-scrollbar{
    display: none;
}
.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: black;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 2.8rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* .active {
  background-color: white;
  color: black;
  padding: 5%;
  border-radius: 5px;
  padding-right: 0;
} */